# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# data to be kept localy
NOGIT_*
neuro.h5
behavior_free_swimming.h5
behavior_single_fish.h5
hmms_20240125/
hmms_ARTR_20240620/
longtrajectories_20240202/
mixtures.h5
hmms_ARTR_outputs.h5
generated_neuro_MSR/
gen_behavior/
gen_neuro/
